- provide :title, 'About'

.container#about
  h1 About
  p Scirate is a free and open access scientific collaboration network. Usydrate is the University of Sydney's quantum group weekly meeting facilitator. Scirate's aims are to allow you to
  ul style="margin-left: 25px;"
    li Follow <a href="http://arxiv.org">arXiv.org</a> categories and see the highest ranked new papers
    li Scite papers and subscribe to categories
    li <a href="/signup">Sign up</a> to customize your view of the site
  p Usydrate merely tries to make organising a group meeting slightly easier.

  p You can email us at <a href="mailto:sydneyQuantum@gmail.com">rememberToCheckUnderlyingLinks@wheredoesthisgo.com</a>, talk to us at our
    weekly meetings (three minutes max)
    or just get in touch with Robin.

  
  h3 Based on a hacked version of the open source SciRate.
  

  p All user data is licensed under a
    <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
    license</a>. The code is also open source. This means that you can run your own
    version of SciRate for your research group or university. Visit
    <a href="http://github.com/scirate/scirate">GitHub</a>
    to view the source or to
    <a href="https://github.com/scirate/scirate/issues?state=open">report bugs</a>
    and request features. We welcome contributors!

  h3 The SciRate Collaboration
  ul style="margin-left: 25px;"
    li <a href="https://silky.github.io/">Noon van der Silk</a>, Braneshop (Maintainer)
    li <a href="http://www.mit.edu/~aram/">Aram Harrow</a>, MIT
    li <a href="http://mispy.me">Jaiden Mispy</a>, University of Oxford
    li <a href="http://dabacon.org/">Dave Bacon</a>, Google
    li <a href="https://jacksonbates.com/">Jackson Bates</a>, Grace Papers
    li <a href="http://sydney.edu.au/science/people/steven.flammia.php">Steven Flammia</a>, The University of Sydney
    li <a href="http://www.ucl.ac.uk/oppenheim/">Jonathan Oppenheim</a>, UCL
    li <a href="http://payor.com.au/">James Payor</a>, Draftable
    li <a href="http://www-bcf.usc.edu/~breichar/">Ben Reichardt</a>, USC
    li <a href="http://intractable.ca/bill">Bill Rosgen</a>, NUS
    li <a href="http://homepages.cwi.nl/~schaffne/">Christan Schaffner</a>, University of Amsterdam & CWI
    li <a href="http://bentoner.com">Ben Toner</a>, Draftable
